@font-face {
  font-family: tungsten;
  src: url(../../assets/font/FontsFree-Net-Tungsten-Bold.ttf);
}

@font-face {
  font-family: aileron-black;
  src: url(../../assets/font/aileron/Aileron-Black.otf);
}

@font-face {
  font-family: aileron;
  src: url(../../assets/font/aileron/Aileron-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: valorant;
  src: url(../../assets/font/Valorant\ Font.ttf);
}

body {
  background-color: #eb565b;
  background-image: url(../../assets/images/background-agents-settings.svg);
  background-size: cover;
}

.back-div {
  margin-left: 4%;
  margin-top: 2%;
}

.back {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: aileron;
}

.weapons {
  font-family: tungsten;
  font-size: 11em;
  font-weight: 300;
  text-transform: uppercase;
  color: #2b2b2b;
  text-align: center;
  margin-top: 0.5em;
}

p {
  display: flex;
  justify-content: center;
  font-family: aileron;
  color: white;
  margin: 4%;
}

.set-money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}

/* button */

.buttons {
  display: flex;
  justify-content: center;
  margin: 7%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

.button-settings {
  display: flex;
  justify-content: center;
  font-family: aileron-black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  color: #2b2b2b;
  background-color: #ece8e1;
}

.primary-button {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #2b2b2b;
  font-family: aileron-black;
  text-transform: uppercase;
  padding: 0.9em 0em;
  background: #ece8e1 url(../../assets/images/svg-background.svg);
  background-position: 500%;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  transition-property: background-position, border, color;
  z-index: 1;
  width: 6em;
}

.primary-button:hover {
  color: white;
  background-position: 50%;
}

.primary-button::before {
  content: "";
  position: absolute;
  background-color: #ece8e1;
}

.primary-button:hover::before {
  background-color: #ece8e1;
}

.primary-button::after {
  content: "";
  position: absolute;
  background-color: #ece8e1;
}

.button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.9rem);
  height: 40%;
  left: -0.5rem;
  top: -0.5rem;
  border: 1px solid #ece8e1;
  border-bottom: 0px;
  z-index: -1;
}

.button-borders::after {
  content: "";
  position: absolute;
  width: calc(100% + 0.9rem);
  height: 40%;
  left: -0.5rem;
  bottom: -0.5rem;
  border: 1px solid #ece8e1;
  border-top: 0px;
  z-index: -1;
}

/* footer */
footer {
  background-color: #b84448;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footer-content {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.info-dev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.name {
  font-size: 1em;
}

.linkedin-img {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
}

.btn-donation {
  padding: 0.7em 2em;
  background-color: #eb565b;
  text-decoration: none;
  font-family: aileron;
  color: #ece8e1;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .set-money {
    flex-direction: row;
  }

  .weapons {
    font-size: 5em;
    margin-top: 10vh;
  }

  .buttons-container {
    flex-direction: column;
    margin-top: 3vh;
    gap: 4em;
  }

  .primary-button {
    width: 12em;
    font-size: 1em;
    padding: 0.9em 2emw;
  }

  .buttons-container {
    margin-top: 9vh;
  }

  p {
    margin-top: 18vh;
  }

  .back-div {
    margin-top: 3vh;
  }

  .back {
    font-size: 1em;
  }
}
